
@{
    ViewData["Title"] = "Add a Movie";
}

<!--Add model here later-->
@model Hilton_Movie_Collection.Models.AddedMovie

<h3>Add movie to the database here.</h3>
<p>Category, Title, Year, Direcotr, and Rating are required fields</p>
<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select><br />

        <label asp-for="Title">Title</label>
        <input asp-for="Title" /><br />

        <label asp-for="Year">Year</label>
        <input asp-for="Year" /><br />

        <label asp-for="Director">Director</label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option value="G">"G"</option>
            <option value="PG">"PG"</option>
            <option value="PG-13">"PG-13"</option>
            <option value="R">"R"</option>
            <option value="UR">"UR"</option>
            <option value="NR">"NR"</option>
        </select>

        <label asp-for="Edited">Edited</label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" /><br />

        <label asp-for="Notes">Notes</label>
        <textarea asp-for="Notes" rows="4"></textarea><br />

        <button type="submit">Submit</button>
    </form>
</div>

